.container {
    background-color: rgb(63, 63, 126);
    height: 80px;
    padding-top: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

div.image {
    margin: 10px 0px 10px 0px;
    background-color: #6F6FFE;
    height: 450px;
    width: 100%;
    display: flex;
}

.img1,
.img3,
.img5 {
    margin: 20px;
    text-align: center;
    align-items: center;
    float: left;
}

.img2,
.img4 {
    margin: 20px;
    text-align: center;
    align-items: center;
    float: right;
}

img {
    width: 650px;
    height: 400px;
}

h1 {
    color: white;
    margin: 0;
}

.content1,
.content3,
.content5 {
    float: right;
    align-items: center;
    margin: 20px;
}

.content2,
.content4 {
    float: left;
    align-items: center;
    margin: 20px;
}


p {
    font-size: 25px;
}